<form action="/register" method="post">
    {{#message}}{{.}}{{/message}}
    <p>
        <label>username:
            <input type="text" name="username" value="test"/>
        </label>
    </p>

    <p>
        <label>password:
            <input type="password" name="password" value="test"/>
        </label>
    </p>

    <p>
        <button type="submit">register</button>
    </p>
</form>