<form action="/register" method="post">
    {{#message}}{{.}}{{/message}}
    <p>
        <label>email:
            <input type="text" name="email" value=""/>
        </label>
    </p>

    <p>
        <button type="submit">获取验证码</button>
    </p>
</form>